<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div>
        <h1>Editor de imágenes</h1>
        <p>Suba una imagen y aplique filtros</p>
    </div>
</body>
</html>