<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Editor de imágenes</h1>
        <p>Suba una imagen y aplique filtros</p>

        <div>
            <div class="upload-area">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-upload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 9l5 -5l5 5" /><path d="M12 4l0 12" /></svg>
                <img src="" width="300px" id="image-preview" alt="">
                <input type="file" name="image" id="file-image"  accept="image/jpeg, 
                image/png" required hidden>
                <small>Arrastra y suelta tu imagen aquí</small>
            </div>
            <button class="btn-reiniciar" type="button" hidden>Reiniciar</button>
            <button class="btn-descargar" type="button" hidden>Subir</button>
        </div>
        <section>
            <article>
                <h2>Filtros</h2>
                <div class="filters">
                    <label for="brillo">
                        brillo
                        <input type="range" name="brillo" id="brillo">
                    </label>
                    <label for="contraste">
                        Contraste
                        <input type="range" name="contraste" id="contraste">
                    </label>
                    <label for="saturacion">
                        Saturación
                        <input type="range" name="saturacion" id="saturacion">
                    </label>
                    <label for="desenfoque">
                        Desenfoque
                        <input type="range" name="desenfoque" id="desenfoque">
                    </label>
                </div>
            </article>
        </section>
    </div>
</body>
</html>